[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparqlwrapper = "*"
rdflib = "*"
pyclustering = "*"
matplotlib = "*"
pillow = "*"
scikit-learn = "*"
pylint = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
